<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ShopSwipe</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link
      href="{{ url_for('static', filename='styles/landingPage.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container roboto-bold front">
      <span class="heading">ShopSwipe</span>
      <span class="tagline"><br>Swipe Shop Slay</span>
      <img id="bgImg1"  src = "{{ url_for('static', filename='assets/images/bgImg1.png') }}"></img>
    </div>
    <div id="app">

      <div class="blurplate"></div>

      <div class="container roboto-bold" id="app" >
        {{ for item in data}}
        <a href="https://www.myer.com.au/p/tommy-hilfiger-new-york-flag-tee-in-desert-sky"><div class = "item" id="shirt">
               <a href="/UserDislike">Disklike</a>
               <a href="/UserLike">Like</a>
            <img src="https://myer-media.com.au/wcsstore/MyerCatalogAssetStore/images/40/401/3639/200/7/107034760/107034760_1_1_360x464.webp"></img>
        </div>   </a>
        <a href="https://www.myer.com.au/p/tommy-hilfiger-new-york-flag-tee-in-desert-sky"><div class = "item"  id="shirt">
          <a href="/UserDislike">Disklike</a>
          <a href="/UserLike">Like</a>
            <img src="https://myer-media.com.au/wcsstore/MyerCatalogAssetStore/images/40/401/3639/200/7/107034760/107034760_1_1_360x464.webp"></img>
        </div>   </a>
        <a href="https://www.myer.com.au/p/tommy-hilfiger-new-york-flag-tee-in-desert-sky"><div class = "item"  id="shirt">
          <a href="/UserDislike">Disklike</a>
          <a href="/UserLike">Like</a>
            <img src="https://myer-media.com.au/wcsstore/MyerCatalogAssetStore/images/40/401/3639/200/7/107034760/107034760_1_1_360x464.webp"></img>
        </div>   </a>
        <a href="https://www.myer.com.au/p/tommy-hilfiger-new-york-flag-tee-in-desert-sky"><div class = "item"  id="shirt">
          <a href="/UserDislike">Disklike</a>
          <a href="/UserLike">Like</a>
            <img src="https://myer-media.com.au/wcsstore/MyerCatalogAssetStore/images/40/401/3639/200/7/107034760/107034760_1_1_360x464.webp"></img>
        </div>   </a>

        </div>
    </div>
  </body>
</html>
