body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: sans-serif;
  color: white;
  overflow-x: hidden;
}

.front{
  min-height: 100vh;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 2px;
}

#bgImg1 {
  max-width: 50vh;
  position: absolute;
  z-index: -10;
  filter:blur(3px)
}


.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tagline {
  font-size: 25px;
}

.div {
  background-color: white;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  min-height: 100vh;
}

.blurplate {
  background-color: whitesmoke;
  box-shadow: inset;
  filter: blur(6px);
  min-width: 100vw;
  min-height: 100vh;
  gap: 40px;
  z-index: -1;
  position: absolute;
}

.item {
  flex-basis: auto;
}

#shirt{

}

#trousers{

}
#jackets{

}
#shoes{

}
